* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  background: linear-gradient(to bottom, #737373, #D9D9D9);
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.summary-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 20rem;
  height: 8rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summary-box p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.summary-box p span {
  font-weight: bold;
}

.section-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  max-height: 350px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.section-box .section {
  text-align: left;
}
.section-box .section p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input,
.input-group select {
  padding: 10px;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}
button:hover {
  background-color: #272727;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
table th {
  background-color: #ccc;
  color: white;
  cursor: pointer;
}
table tbody tr:nth-child(odd) {
  background-color: white;
}

.budget-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.budget-input input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.budget-input button {
  width: 50%;
  margin: 0 auto;
}

.expenses-section {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 30rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  max-height: none;
  overflow: visible;
  max-height: 300px;
  overflow-y: auto;
}

.budget-section {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 364px;
  height: 250px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: left;
}
.budget-section p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.budget-section p span {
  font-weight: bold;
}

.expenses-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */